<section class="py-5 accordion-row-2 d-md-flex txt-btn">
  <div class = "txt-clm txt-centered">
    <p class="text-primary txt-big">
      {{ section.settings.ico-txt }}
    </p>
    <h2 class="pb-5">
        {{ section.settings.main-title }}
    </h2>
    <p class="txt-big pb-5">
        {{ section.settings.paragraph }}
    </p>
  </div>
  <div class="accordion accordion-outline btn-clm" id="{{ block.id }}">
    {% for block in section.blocks %}
      {% if block.type == "accordion-block" %}
        <div class="accordion-item ">
          <h5 id="Head{{ block.id }}" class="accordion-header">
              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#Body{{ block.id }}" aria-expanded="true" aria-controls="Body{{ block.id }}">
                  {{ block.settings.button}}
              </button>
          </h5>
          <div block.id="Body{{ block.id }}" class="accordion-collapse collapse" data-bs-parent="#{{ block.id }}" aria-labelledby="Head{{ block.id }}">
              <div class="accordion-body">
                  <p class="txt-regular">
                      {{ block.settings.body}}
                  </p>
              </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% schema %}
  {
    "name": "Accordion Service",
    "settings": [
      {
        "id":"ico-txt",
        "type":"text",
        "label":"Pre Titolo con icona"
      },
      {
        "id":"main-title",
        "type":"text",
        "label":"Titolo Descrizione"
      },
      {
        "id":"paragraph",
        "type":"text",
        "label":"Descrizione"
      }
    ],
    "blocks":[
      {
        "name":"Bottone a comparsa",
        "type":"accordion-block",
        "settings":[
          {
            "id":"button",
            "type":"text",
            "label":"Testo Bottone"
          },
          {
            "id":"body",
            "type":"text",
            "label":"Corpo della descrizione a comparsa"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{{ 'hellp.js' | asset_url | script_tag }}
{% endjavascript %}
